# Ignore node_modules and lock files in both server and client folders
server/node_modules/
server/package-lock.json
server/package.json
server/yarn.lock
server/pnpm-lock.yaml

client/node_modules/
client/package-lock.json
client/package.json
client/yarn.lock
client/pnpm-lock.yaml
client/public

# Ignore build files in both server and client
server/build/
server/dist/
client/build/
client/dist/

# Ignore environment files in both server and client
server/.env
server/.env.local

client/.env
client/.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files (optional)
.vscode/
.idea/
